@model DisasterResponseSystem.Models.PersonInNeed

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonInNeed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().RequestedAmount) @*this is temporary, find a fix for Request(S) instead of Request*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requests.FirstOrDefault().RequestedAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requests.FirstOrDefault().Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requests.FirstOrDefault().Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requests.FirstOrDefault().RequestDate)
        </dd>
        @*<a class="btn btn-outline-primary" asp-action="Allocate">Allocate</a>*@
        <a class="btn btn-outline-secondary" asp-action="Index">Back</a>
    </dl>
</div>